.ember-widget.ember-widget-buttonGroup {
  list-style: none;
  margin-left: 0;
  & > .button {
    display: inline-block;
    float: left;
    margin-left: -1px;
    position: relative;
    @include ie7-inline-block();
    .ember-widget-button {
      @include border-radius(0);
      &:hover,
      &:focus,
      &:active,
      &.active {
        z-index: 2;
      }
    }
    &:first-child,
    &:nth-of-type(1) {
      margin-left: 0;
      & > .ember-widget-button {
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-left-radius: 4px;
        &.large {
          -webkit-border-top-left-radius: 6px;
          -moz-border-radius-topleft: 6px;
          border-top-left-radius: 6px;
          -webkit-border-bottom-left-radius: 6px;
          -moz-border-radius-bottomleft: 6px;
          border-bottom-left-radius: 6px;
        }
      }
    }
    &:last-child > .ember-widget-button,
    &:nth-last-of-type(1) > .ember-widget-button {
      -webkit-border-top-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
      border-bottom-right-radius: 4px;
      &.large {
        -webkit-border-top-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-bottomright: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}
