.ember-widget.ember-widget-modal {
  & > .window {
    @include background-clip(padding-box);
    background-color: $white;
    @include border-radius(6px);
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.3);
    *border: 1px solid #999; /* IE6-7 */
    @include box-shadow(0 3px 7px rgba(0,0,0,0.3));
    left: 50%;
    margin: -250px 0 0 -280px;
    @include opacity(0);
    overflow: auto;
    position: fixed;
    top: -25%;
    $transition: opacity .3s linear, top .3s ease-out;
    @include transition($transition);
    width: 560px;
    z-index: $zindexModal;
    .ember-widget-popover {
      z-index: $zindexPopover + $zindexModal;
    }

    & > .header {
      border-bottom: 1px solid #eee;
      padding: 9px 15px;
      @include clearfix();
      & > .ember-widget-button { margin-top: 2px; }
    }
    & > .body {
      max-height: 400px;
      overflow-y: auto;
      padding: 15px;
    }
    & > .footer {
      background-color: #f5f5f5;
      @include border-radius(0 0 6px 6px);
      border-top: 1px solid #ddd;
      @include box-shadow(inset 0 1px 0 $white);
      margin-bottom: 0;
      padding: 14px 15px 15px;
      text-align: right;
      @include clearfix();

      & > div > * + * {
        margin-bottom: 0;
        margin-left: 5px;
      }
    }
  }

  & > .backdrop {
    background-color: $black;
    bottom: 0;
    left: 0;
    @include opacity(0);
    position: fixed;
    right: 0;
    top: 0;
    $transition: opacity .3s linear, visibility .3s linear;
    @include transition($transition);
    visibility: hidden;
    z-index: $zindexModalBackdrop;
  }

  &.open {
    & > .window {
      @include opacity(100);
      top: 50%;
    }
    & > .backdrop {
      display: block;
      @include opacity(80);
      visibility: visible;
    }
  }
}
