html.ember-widget-page {
  // Reset
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
  audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  audio:not([controls]) { display: none; }
  a:focus { @include tab-focus(); }
  a:hover, a:active { outline: 0; }
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup { top: -0.5em; }
  sub { bottom: -0.25em; }
  img {
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
  }
  button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
  }
  button, input {
    *overflow: visible;
    line-height: normal;
  }
  button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
  textarea {
    overflow: auto;
    vertical-align: top;
  }

  // Global Defaults
  body {
    background-color: $bodyBackground;
    color: $textColor;
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    margin: 0;
  }
  a {
    color: $linkColor;
    text-decoration: none;
  }
  a:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }
  p {
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    margin: 0 0 $baseLineHeight / 2;
    small {
      color: $grayLight;
      font-size: $baseFontSize - 2;
    }
  }
  .lead {
    font-size: 20px;
    font-weight: 200;
    line-height: $baseLineHeight * 1.5;
    margin-bottom: $baseLineHeight;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $headingsColor;
    font-family: $headingsFontFamily;
    font-weight: $headingsFontWeight;
    margin: 0;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
    small {
      color: $grayLight;
      font-weight: normal;
    }
  }
  h1 {
    font-size: 30px;
    line-height: $baseLineHeight * 2;
    small { font-size: 18px; }
  }
  h2 {
    font-size: 24px;
    line-height: $baseLineHeight * 2;
    small { font-size: 18px; }
  }
  h3 {
    line-height: $baseLineHeight * 1.5;
    font-size: 18px;
    small { font-size: 14px; }
  }
  h4, h5, h6 { line-height: $baseLineHeight; }
  h4 {
    font-size: 14px;
    small { font-size: 12px; }
  }
  h5 { font-size: 12px; }
  h6 {
    font-size: 11px;
    color: $grayLight;
    text-transform: uppercase;
  }
  .page-header {
    border-bottom: 1px solid $grayLighter;
    margin: $baseLineHeight 0;
    padding-bottom: $baseLineHeight - 1;
  }
  .page-header h1 { line-height: 1; }
  ul, ol {
    margin: 0 0 $baseLineHeight / 2 25px;
    padding: 0;
  }
  ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }
  ul { list-style: disc; }
  ol { list-style: decimal; }
  li { line-height: $baseLineHeight; }
  ul.unstyled, ol.unstyled {
    list-style: none;
    margin-left: 0;
  }
  dl { margin-bottom: $baseLineHeight; }
  dt, dd { line-height: $baseLineHeight; }
  dt {
    font-weight: bold;
    line-height: $baseLineHeight - 1;
  }
  dd { margin-left: $baseLineHeight / 2; }
  .dl-horizontal {
    dt {
      clear: left;
      float: left;
      text-align: right;
      width: 120px;
    }
    dd { margin-left: 130px; }
  }
  hr {
    border: 0;
    border-bottom: 1px solid $white;
    border-top: 1px solid $hrBorder;
    margin: $baseLineHeight 0;
  }
  strong { font-weight: bold; }
  em { font-style: italic; }
  .muted { color: $grayLight; }
  abbr[title] {
    border-bottom: 1px dotted #ddd;
    cursor: help;
  }
  abbr.initialism {
    font-size: 90%;
    text-transform: uppercase;
  }
  blockquote {
    border-left: 5px solid $grayLighter;
    margin: 0 0 $baseLineHeight;
    padding: 0 0 0 15px;
    p {
      @include font-shorthand(16px,300,$baseLineHeight * 1.25);
      margin-bottom: 0;
    }
    small {
      color: $grayLight;
      display: block;
      line-height: $baseLineHeight;
      &:before {
        content: '\2014 \00A0';
      }
    }
    &.pull-right {
      border-left: 0;
      border-right: 5px solid $grayLighter;
      float: right;
      padding-left: 0;
      padding-right: 15px;
      p, small { text-align: right; }
    }
  }
  q:before, q:after, blockquote:before,  blockquote:after { content: ""; }
  address {
    display: block;
    font-style: normal;
    line-height: $baseLineHeight;
    margin-bottom: $baseLineHeight;
  }
  small { font-size: 100%; }
  cite { font-style: normal; }
  code, pre {
    @include border-radius(3px);
    color: $grayDark;
    @include font-family-monospace;
    font-size: $baseFontSize - 1;
    padding: 0 3px 2px;
  }
  code {
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 2px 4px;
  }
  pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    @include border-radius(4px);
    display: block;
    font-size: $baseFontSize * .925;
    line-height: $baseLineHeight;
    margin: 0 0 $baseLineHeight / 2;
    padding: ($baseLineHeight - 1) / 2;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    &.prettyprint { margin-bottom: $baseLineHeight; }
    code {
      background-color: transparent;
      border: 0;
      color: inherit;
      padding: 0;
    }
  }
  .pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
  }
  form { margin: 0 0 $baseLineHeight; }
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  legend {
    border: 0;
    border-bottom: 1px solid #eee;
    color: $grayDark;
    display: block;
    font-size: $baseFontSize * 1.5;
    line-height: $baseLineHeight * 2;
    margin-bottom: $baseLineHeight * 1.5;
    padding: 0;
    width: 100%;
    small {
      font-size: $baseLineHeight * .75;
      color: $grayLight;
    }
  }
  label {
    color: $grayDark;
    display: block;
    @include font-shorthand();
    margin-bottom: 5px;
  }
  .uneditable-input {
    border: 1px solid $inputBorder;
    @include border-radius(3px);
    color: $gray;
    display: inline-block;
    font-size: $baseFontSize;
    height: $baseLineHeight;
    line-height: $baseLineHeight;
    margin-bottom: 9px;
    padding: 4px;
    width: 210px;
  }
  .uneditable-textarea {
    height: auto;
    width: auto;
  }
  label.radio, label.checkbox { padding-left: 18px; }
  label.radio input[type="radio"], label.checkbox input[type="checkbox"] {
    float: left;
    margin-left: -18px;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: $tableBackground;
    margin-bottom: $baseLineHeight;
    max-width: 100%;
    width: 100%;
    th, td {
      border-top: 1px solid $tableBorder;
      line-height: $baseLineHeight;
      padding: 8px;
      text-align: left;
      vertical-align: top;
    }
    th { font-weight: bold; }
    thead th { vertical-align: bottom; }
    colgroup + thead tr:first-child th,
    colgroup + thead tr:nth-of-type(1) th,
    colgroup + thead tr:first-child td,
    colgroup + thead tr:nth-of-type(1) td,
    thead:first-child tr:first-child th,
    thead:nth-of-type(1) tr:nth-of-type(1) td,
    thead:first-child tr:first-child td,
    thead:nth-of-type(1) tr:nth-of-type(1) td {
      border-top: 0;
    }
    tbody + tbody { border-top: 2px solid $tableBorder; }

    &.condensed {
      th, td { padding: 4px 5px; }
    }
    &.bordered {
      border: 1px solid $tableBorder;
      border-collapse: separate;
      *border-collapse: collapsed;
      border-left: 0;
      @include border-radius(4px);
      th, td { border-left: 1px solid $tableBorder; }
      thead:first-child tr:first-child th,
      thead:nth-of-type(1) tr:nth-of-type(1) th,
      tbody:first-child tr:first-child th,
      tbody:nth-of-type(1) tr:nth-of-type(1) th,
      tbody:first-child tr:first-child td,
      tbody:nth-of-type(1) tr:nth-of-type(1) td {
        border-top: 0;
      }
      thead:first-child tr:first-child th:first-child,
      thead:nth-of-type(1) tr:nth-of-type(1) th:nth-of-type(1),
      tbody:first-child tr:first-child td:first-child,
      tbody:nth-of-type(1) tr:nth-of-type(1) td:nth-of-type(1) {
        @include border-radius(4px 0 0 0);
      }
      thead:first-child tr:first-child th:last-child,
      thead:nth-of-type(1) tr:nth-of-type(1) th:nth-last-of-type(1),
      tbody:first-child tr:first-child td:last-child,
      tbody:nth-of-type(1) tr:nth-of-type(1) td:nth-last-of-type(1) {
        @include border-radius(0 4px 0 0);
      }
      thead:last-child tr:last-child th:first-child,
      thead:nth-last-of-type(1) tr:nth-last-of-type(1) th:nth-of-type(1),
      tbody:last-child tr:last-child td:first-child,
      tbody:nth-last-of-type(1) tr:nth-last-of-type(1) td:nth-of-type(1) {
        @include border-radius(0 0 0 4px);
      }
      thead:last-child tr:last-child th:last-child,
      thead:nth-last-of-type(1) tr:nth-last-of-type(1) th:nth-last-of-type(1),
      tbody:last-child tr:last-child td:last-child,
      tbody:nth-last-of-type(1) tr:nth-last-of-type(1) td:nth-last-of-type(1) {
        @include border-radius(0 0 4px 0);
      }
    }
    &.striped {
      tbody {
        tr:nth-child(odd) td,
        tr:nth-of-type(odd) td,
        tr:nth-child(odd) th,
        tr:nth-of-type(odd) th {
          background-color: $tableBackgroundAccent;
        }
      }
    }

    tbody tr:hover td,
    tbody tr:hover th {
      background-color: $tableBackgroundHover;
    }
    .span1 { @include tableColumns(1); }
    .span2 { @include tableColumns(2); }
    .span3 { @include tableColumns(3); }
    .span4 { @include tableColumns(4); }
    .span5 { @include tableColumns(5); }
    .span6 { @include tableColumns(6); }
    .span7 { @include tableColumns(7); }
    .span8 { @include tableColumns(8); }
    .span9 { @include tableColumns(9); }
    .span10 { @include tableColumns(10); }
    .span11 { @include tableColumns(11); }
    .span12 { @include tableColumns(12); }
    .span13 { @include tableColumns(13); }
    .span14 { @include tableColumns(14); }
    .span15 { @include tableColumns(15); }
    .span16 { @include tableColumns(16); }
    .span17 { @include tableColumns(17); }
    .span18 { @include tableColumns(18); }
    .span19 { @include tableColumns(19); }
    .span20 { @include tableColumns(20); }
    .span21 { @include tableColumns(21); }
    .span22 { @include tableColumns(22); }
    .span23 { @include tableColumns(23); }
    .span24 { @include tableColumns(24); }
  }
}
