.ember-widget.app-widget-emailClient {
  padding: 10px;
  & > .toolbar {
    border-bottom: 1px solid $tableBorder;
    height: 40px;
    margin: {
      left: 160px;
      right: -10px;
    }
    padding: {
      left: 20px;
      right: 10px;
    }
    & > .ember-widget-formElement-textField {
      width: 300px;
    }
  }
  & > .ember-widget-tabs {
    .tabs {
      margin-top: -51px;
      min-height: 500px;
      padding-top: 50px;
      width: 160px;
      li .ember-widget-button {
        position: relative;
        .ember-widget-indicator {
          position: absolute;
          right: 15px;
        }
      }
    }
    .contents {
      display: block;
      margin-left: 180px;
      margin-top: 20px;
    }
  }
}
