.ember-widget.ember-widget-accordion {
  li {
    & > .title {
      display: block;
      line-height: $baseLineHeight;
      padding: 8px 15px;
    }
    & > .title:hover {
      background-color: $grayLighter;
      text-decoration: none;
    }
    & > .content {
      height: 0;
      overflow: hidden;
      $transition: height 0.35s ease, visibility 0.35s ease;
      @include transition($transition);
      visibility: hidden;
      & > div {
        border-top: 1px solid $tableBorder;
        padding: 9px 15px;
      }
    }
    &.open > .content {
      height: auto;
      visibility: visible;
    }
    border: 1px solid $tableBorder;
    @include border-radius(4px);
    margin-bottom: 2px;
  }
  list-style: none;
  margin: 0 0 $baseLineHeight 0;
  padding: 0;
}
