<%= content_for :title, 'Containers' %>
<%= handlebars_template do %>
  <Ember.Widget.Page><content>
    <dl>
      <dt>Toolbar</dt>
      <dd>
        <Ember.Widget.Toolbar>
          <groups>
            <buttons>
              <button content="1111" />
              <buttonWithMenu style="inverse" content="2222">
                <groups>
                  <items>
                    <item content="Item 1" />
                    <item content="Item 2" />
                    <item content="Item 3" />
                  </items>
                  <items>
                    <item content="Item 4" />
                    <item content="Item 5" />
                  </items>
                </groups>
              </buttonWithMenu>
              <button content="3333" />
              <button content="4444" />
            </buttons>
            <buttons type="checkbox">
              <button style="primary" content="5555" />
              <button style="primary" content="6666" />
              <button style="primary" content="7777" />
            </buttons>
            <buttons type="radio">
              <button style="error" content="8888" />
              <button style="error" content="9999" />
            </buttons>
          </groups>
        </Ember.Widget.Toolbar>
      </dd>

      <dt>Indicator</dt>
      <dd>
        <ul>
          <li><Ember.Widget.Indicator content=1 /></li>
          <li><Ember.Widget.Indicator content=2 style="success" /></li>
          <li><Ember.Widget.Indicator content=3 style="warning" /></li>
          <li><Ember.Widget.Indicator content=4 style="important" /></li>
          <li><Ember.Widget.Indicator content=5 style="info" /></li>
          <li><Ember.Widget.Indicator content=6 style="inverse" /></li>
        </ul>
      </dd>

      <dt>Progress Bar</dt>
      <dd>
        <ul>
          <li><Ember.Widget.ProgressBar progress=10 active=false /></li>
          <li><Ember.Widget.ProgressBar progress=20 /></li>
          <li><Ember.Widget.ProgressBar style="danger" progress=30 active=false /></li>
          <li><Ember.Widget.ProgressBar style="danger" progress=40 /></li>
          <li><Ember.Widget.ProgressBar style="success" progress=50 active=false /></li>
          <li><Ember.Widget.ProgressBar style="success" progress=60 /></li>
          <li><Ember.Widget.ProgressBar style="info" progress=70 active=false /></li>
          <li><Ember.Widget.ProgressBar style="info" progress=80 /></li>
          <li><Ember.Widget.ProgressBar style="warning" progress=90 active=false /></li>
          <li><Ember.Widget.ProgressBar style="warning" progress=100 /></li>
        </ul>
      </dd>

      <dt>Video</dt>
      <dd>
        <Ember.Widget.Video  controls=true>
          <sources>
            <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg" />
            <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm" />
          </sources>
          <lines>
            <line time=5 content="This is a test subtitle." />
            <line time=7 content="See how it changes over time?" />
            <line time=9 content="You can specify what time you want the words to show up" />
            <line time=12 content="It is pretty cool... it would be even cooler if I had" />
            <line time=14 content="a video that actually had dialog to map this to." />
            <line time=17 content="" />
          </lines>
        </Ember.Widget.Video>
      </dd>
     </dl>
  </content></Ember.Widget.Page>
<% end %>
