<%= content_for :title, 'Containers' %>
<%= handlebars_template do %>
  <Ember.Widget.Page><content>
    <dl>
      <dt>Top Tabs</dt>
      <dd>
        <Ember.Widget.Tabs>
          <items>
            <item open=true title="Tab 1">
              <content>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque.</content>
            </item>
            <item title="Tab 2">
              <content>ivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc.</content>
            </item>
            <item title="Tab 3">
              <content>ivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo.</content>
            </item>
          </items>
        </Ember.Widget.Tabs>
      </dd>
      <dt>Left Tabs</dt>
      <dd>
        <Ember.Widget.Tabs position="left">
          <items>
            <item title="Tab 1">
              <content>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque.</content>
            </item>
            <item title="Tab 2">
              <content>ivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc.</content>
            </item>
            <item title="Tab 3">
              <content>ivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo.</content>
            </item>
          </items>
        </Ember.Widget.Tabs>
      </dd>
      <dt>Right Tabs</dt>
      <dd>
        <Ember.Widget.Tabs position="right">
          <items>
            <item title="Tab 1">
              <content>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque.</content>
            </item>
            <item title="Tab 2">
              <content>ivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc.</content>
            </item>
            <item title="Tab 3">
              <content>ivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo.</content>
            </item>
          </items>
        </Ember.Widget.Tabs>
      </dd>
      <dt>Bottom Tabs</dt>
      <dd>
        <Ember.Widget.Tabs position="bottom">
          <items>
            <item title="Tab 1">
              <content>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque.</content>
            </item>
            <item title="Tab 2">
              <content>ivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc.</content>
            </item>
            <item title="Tab 3">
              <content>ivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo.</content>
            </item>
          </items>
        </Ember.Widget.Tabs>
      </dd>

      <dt>Accordion</dt>
      <dd>
        <Ember.Widget.Accordion>
          <items>
            <item title="Tab 1">
              <content>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque.</content>
            </item>
            <item title="Tab 2">
              <content>ivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc.</content>
            </item>
            <item title="Tab 3">
              <content>ivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo.</content>
            </item>
          </items>
        </Ember.Widget.Accordion>
      </dd>

      <dt>Carousel</dt>
      <dd>
        <Ember.Widget.Carousel>
          <items>
            <item><content>A Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque.</content></item>
            <item><content>B ivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc.</content></item>
            <item><content>C ivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo.</content></item>
            <item><content>D ivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo.</content></item>
          </items>
        </Ember.Widget.Carousel>
      </dd>

      <dt>Toolbar</dt>
      <dd>
        <Ember.Widget.Toolbar>
          <groups>
            <buttons>
              <button content="1111" />
              <buttonWithMenu style="inverse" content="2222">
                <groups>
                  <items>
                    <item content="Item 1" />
                    <item content="Item 2" />
                    <item content="Item 3" />
                  </items>
                  <items>
                    <item content="Item 4" />
                    <item content="Item 5" />
                  </items>
                </groups>
              </buttonWithMenu>
              <button content="3333" />
              <button content="4444" />
            </buttons>
            <buttons type="checkbox">
              <button style="primary" content="5555" />
              <button style="primary" content="6666" />
              <button style="primary" content="7777" />
            </buttons>
            <buttons type="radio">
              <button style="error" content="8888" />
              <button style="error" content="9999" />
            </buttons>
          </groups>
        </Ember.Widget.Toolbar>
      </dd>

      <dt>Indicator</dt>
      <dd>
        <ul>
          <li><Ember.Widget.Indicator content=1 /></li>
          <li><Ember.Widget.Indicator content=2 style="success" /></li>
          <li><Ember.Widget.Indicator content=3 style="warning" /></li>
          <li><Ember.Widget.Indicator content=4 style="important" /></li>
          <li><Ember.Widget.Indicator content=5 style="info" /></li>
          <li><Ember.Widget.Indicator content=6 style="inverse" /></li>
        </ul>
      </dd>

      <dt>Grid</dt>
      <dd>
        <Ember.Widget.Grid width="960px" showGuides=true>
          <rows>
            <columns>
              <column span=1><content>1</content></column>
              <column span=1><content>1</content></column>
              <column span=1><content>1</content></column>
              <column span=1><content>1</content></column>
              <column span=1><content>1</content></column>
              <column span=1><content>1</content></column>
              <column span=1><content>1</content></column>
              <column span=1><content>1</content></column>
              <column span=1><content>1</content></column>
              <column span=1><content>1</content></column>
              <column span=1><content>1</content></column>
              <column span=1><content>1</content></column>
            </columns>
            <columns>
              <column span=2><content>2</content></column>
              <column span=2><content>2</content></column>
              <column span=2><content>2</content></column>
              <column span=2><content>2</content></column>
              <column span=2><content>2</content></column>
              <column span=2><content>2</content></column>
            </columns>
            <columns>
              <column span=3><content>3</content></column>
              <column span=3><content>3</content></column>
              <column span=3><content>3</content></column>
              <column span=3><content>3</content></column>
            </columns>
            <columns>
              <column span=4><content>4</content></column>
              <column span=4><content>4</content></column>
              <column span=4><content>4</content></column>
            </columns>
            <columns>
              <column span=4><content>4</content></column>
              <column span=8><content>8</content></column>
            </columns>
            <columns>
              <column span=6><content>6</content></column>
              <column span=6><content>6</content></column>
            </columns>
            <columns>
              <column><content>12</content></column>
            </columns>
            <columns>
              <column span=1 offset=1><content>1 off 1</content></column>
              <column span=1 offset=1><content>1 off 1</content></column>
              <column span=1 offset=1><content>1 off 1</content></column>
              <column span=1 offset=1><content>1 off 1</content></column>
              <column span=1 offset=1><content>1 off 1</content></column>
              <column span=1 offset=1><content>1 off 1</content></column>
            </columns>
            <columns>
              <column span=2 offset=2><content>2 off 2</content></column>
              <column span=2 offset=2><content>2 off 2</content></column>
              <column span=2 offset=2><content>2 off 2</content></column>
            </columns>
            <columns>
              <column span=4><content>4</content></column>
              <column span=4 offset=4><content>4 off 4</content></column>
            </columns>
            <columns>
              <column span=3 offset=3><content>3 off 3</content></column>
              <column span=3 offset=3><content>3 off 3</content></column>
            </columns>
            <columns>
              <column span=8 offset=4><content>8 off 4</content></column>
            </columns>
            <columns>
              <column><content>
                12
                <Ember.Widget.Grid>
                  <rows>
                    <columns>
                      <column span=6><content>Nested 6</content></column>
                      <column span=6><content>Nested 6</content></column>
                    </columns>
                  </rows>
                </Ember.Widget.Grid>
              </content></column>
            </columns>
          </rows>
        </Ember.Widget.Grid>
      </dd>

      <dt>Paginated List</dt>
      <dd>
        <Ember.Widget.PaginatedList>
          <items>
            <item><content>1 - This is an item.</content></item>
            <item><content>2 - This is an item.</content></item>
            <item><content>3 - This is an item.</content></item>
            <item><content>4 - This is an item.</content></item>
            <item><content>5 - This is an item.</content></item>
            <item><content>6 - This is an item.</content></item>
            <item><content>7 - This is an item.</content></item>
            <item><content>8 - This is an item.</content></item>
            <item><content>9 - This is an item.</content></item>
            <item><content>10 - This is an item.</content></item>
          </items>
        </Ember.Widget.PaginatedList>
      </dd>
    </dl>
  </content></Ember.Widget.Page>
<% end %>
