<%= content_for :title, 'Form Elements' %>
<%= handlebars_template do %>
  <Ember.Widget.Page><content>
    <dl>
      <dt>Checkbox</dt>
      <dd><Ember.Widget.FormElement.Checkbox checked=true /></dd>

      <dt>Select (single)</dt>
      <dd>
        <Ember.Widget.FormElement.Select>
          <options>
            <option label="Option 1" value="1" />
            <option label="Option 2" value="2" />
            <option label="Option 3" value="3" />
          </options>
        </Ember.Widget.FormElement.Select>
      </dd>

      <dt>Select (multiple)</dt>
      <dd>
        <Ember.Widget.FormElement.Select multiple=true>
          <options>
            <option label="Option 1" value="1" />
            <option label="Option 2" value="2" />
            <option label="Option 3" value="3" />
          </options>
        </Ember.Widget.FormElement.Select>
      </dd>

      <dt>Text Field</dt>
      <dd><Ember.Widget.FormElement.TextField placeholder="Placeholder..." /></dd>

      <dt>Text Area</dt>
      <dd><Ember.Widget.FormElement.TextArea placeholder="Placeholder..." /></dd>
    </dl>
  </content></Ember.Widget.Page>
<% end %>
