<% content_for :title, 'wHTML Samples' %>
<h2>Types of Widgets</h2>
<ul>
  <li><%= link_to 'Form Elements', '/demos/form_elements' %></li>
  <li><%= link_to 'Containers', '/demos/containers' %></li>
  <li><%= link_to 'Overlays', '/demos/overlays' %></li>
  <li><%= link_to 'Navigation', '/demos/navigation' %></li>
  <li><%= link_to 'Content', '/demos/content' %></li>
</ul>

<h2>Demos</h2>
<ul>
  <li><%= link_to 'Todo List', '/demos/tasks' %></li>
  <li><%= link_to 'Windows 8', '/demos/win8' %></li>
  <li><%= link_to 'Email Client', '/demos/email' %></li>
</ul>
