<%= content_for :title, 'Navigation' %>
<%= handlebars_template do %>
  <Ember.Widget.Page><content>
    <dl>
      <dt>Breadcrumbs</dt>
      <dd>
        <Ember.Widget.Breadcrumbs>
          <items>
            <item content="Home" />
            <item content="Library" />
            <item content="Data" />
          </items>
        </Ember.Widget.Breadcrumbs>
      </dd>
      <dt> NavBar </dt>
      <dd>
        <App.Widget.NavBar brand="Foobar" brandLink="#">
          <navGroups>
            <navGroup position="left">
              <navItems>
                <item content="Home" />
                <item content="TOC" />
                <item content="Settings" />
                <item content="Tools">
                  <groups>
                    <items>
                      <item content="Tool1" />
                      <item content="Tool2" />
                      <item content="Tool3" />
                      <item content="Tool4" />
                    </items>
                    <items>
                      <item content="Tool5" />
                      <item content="Tool6" />
                    </items>
                  </groups>
                </item>
              </navItems>
            </navGroup>
            <navGroup position="right">
              <navItems>
                <textbox placeholder="Search..." />
                <item content="Log Out" />
              </navItems>
            </navGroup>
          </navGroups>
        </App.Widget.NavBar>
      </dd>
      <dt>NavList</dt>
      <dd>
        <App.Widget.NavList>
          <items>
            <item type="header" content="Places" />
            <item active=true content="Home" />
            <item content="Library" />
            <item content="Applications" />
            <item type="divider" content="" />
            <item type="header" content="Other Stuff" />
            <item content="Tools" />
          </items>
        </App.Widget.NavList>
      </dd>
    </dl>
  </content></Ember.Widget.Page>
<% end %>
