<%= content_for :title, 'Overlays' %>
<%= handlebars_template do %>
  <Ember.Widget.Page><content>
    <dl>
      <dt>Modal</dt>
      <dd>
        <App.Widget.ModalDemo />
      </dd>

      <dt>Popover (hover)</dt>
      <dd>
        <Ember.Widget.Popover>
          <wrap>
            <Ember.Widget.Button content="Hover" />
          </wrap>
          <content>
            <p>This is a popover box.</p>
          </content>
        </Ember.Widget.Popover>
      </dd>
      <dt>Popover (focus)</dt>
      <dd>
        <Ember.Widget.Popover trigger="focus">
          <wrap>
            <Ember.Widget.FormElement.TextField placeholder="Hover" />
          </wrap>
          <content>
            <p>This is a popover box.</p>
          </content>
        </Ember.Widget.Popover>
      </dd>

      <dt>Dropdown Menu</dt>
      <dd>
        <Ember.Widget.Popover.Menu position="right">
          <wrap>
            <Ember.Widget.Button>
              <content>
                Open Menu
                <span class="caret"></span>
              </content>
            </Ember.Widget.Button>
          </wrap>
          <groups>
            <items>
              <item content="Item 1" />
              <item content="Item 2" />
              <item content="Item 3" />
            </items>
            <items>
              <item content="Item 4" />
              <item content="Item 5" />
            </items>
          </groups>
        </Ember.Widget.Popover.Menu>
      </dd>

      <dt>Alert</dt>
      <dd>
        <Ember.Widget.Alert open=true>
          <content>
            This is a warning.
          </content>
        </Ember.Widget.Alert>
        <Ember.Widget.Alert class="success" open=true>
          <content>
            This is a success message.
          </content>
        </Ember.Widget.Alert>
        <Ember.Widget.Alert class="info" open=true>
          <content>
            This is an informational message.
          </content>
        </Ember.Widget.Alert>
        <Ember.Widget.Alert class="error" open=true>
          <content>
            This is an error message.
          </content>
        </Ember.Widget.Alert>
        <p>When closing an alert, the content underneath moves up smoothly.</p>
      </dd>
    </dl>
  </content></Ember.Widget.Page>
<% end %>
