<%= content_for :title, 'Todo List' %>

<style type="text/css">
  .ember-widget-page {
    background-color: #eee;
  }
  .ember-widget-gridColumn {
    background-color: #fff;
  }
</style>

<%= handlebars_template do %>
  <Ember.Widget.Page><content>
    <Ember.Widget.Grid>
      <rows>
        <columns>
          <column span=7 offset=3><content>
            <App.Widget.TaskList />
          </content></column>
        </columns>
      </rows>
    </Ember.Widget.Grid>
  </content></Ember.Widget.Page>
<% end %>
