<%= content_for :title, 'Windows 8 UI' %>
<%= handlebars_template do %>
  <style type="text/css">
      li.foo {
          float: left ;
          display: inline ; 
          margin: 5px ;
      }
  </style>
<Ember.Widget.Page> <content>
  <Ember.Widget.Tabs> 
    <items>
      <item open=true title="Pictures"> <content>
        <Ember.Widget.Grid type="fluid">
          <rows>
            <columns>
            <column span=12><content>
              <Ember.Widget.Button content="<--" />
              <Ember.Widget.Button content="-->" />
              <Ember.Widget.FormElement.TextField placeholder="Type something..." />
              <Ember.Widget.Button content="==c" />
              <Ember.Widget.Button content="()" />
              <Ember.Widget.Button content="\/" />
              </content></column>
            </columns>
            <columns>
              <column span=2><content>
                <App.Widget.NavList>
                  <items>
                    <item type="header" content="Favorites" />
                    <item content="Documents" />
                    <item content="Downloads" />
                    <item content="Desktop" />
                    <item content="Projects" />
                    <item content="SkyDrive" />
                    <item content="Music" />
                    <item active=true content="Pictures" />
                    <item content="Recent" />
                    <item type="header" content="Libraries" />
                    <item type="header" content="Homegroup" />
                    <item content="Jared's PC" />
                    <item content="June's PC" />
                    <item content="Server" />
                    <item content=" Computer" />
                    <item content="C:\Local" />
                    <item content="F:\External" />
                    <item content="G:\USB Key" />
                  </items>
                </App.Widget.NavList>
              </content></column>
              <column span=10><content>
                <ul>
                    <li class="foo"> <%= image_tag "Human_Thumbnail.JPG", :size =>'128x128'  %> <br /> Human_Thumbnail.JPG</li>
                    <li class="foo"> <%= image_tag "Human_Thumbnail.JPG", :size =>'128x128'  %> <br /> Human_Thumbnail.JPG</li>
                    <li class="foo"> <%= image_tag "Human_Thumbnail.JPG", :size =>'128x128'  %> <br /> Human_Thumbnail.JPG</li>
                    <li class="foo"> <%= image_tag "Human_Thumbnail.JPG", :size =>'128x128'  %> <br /> Human_Thumbnail.JPG</li>
                    <li class="foo"> <%= image_tag "Human_Thumbnail.JPG", :size =>'128x128'  %> <br /> Human_Thumbnail.JPG</li>
                    <li class="foo"> <%= image_tag "Human_Thumbnail.JPG", :size =>'128x128'  %> <br /> Human_Thumbnail.JPG</li>
                    <li class="foo"> <%= image_tag "Human_Thumbnail.JPG", :size =>'128x128'  %> <br /> Human_Thumbnail.JPG</li>
                    <li class="foo"> <%= image_tag "Human_Thumbnail.JPG", :size =>'128x128'  %> <br /> Human_Thumbnail.JPG</li>
                    <li class="foo"> <%= image_tag "Human_Thumbnail.JPG", :size =>'128x128'  %> <br /> Human_Thumbnail.JPG</li>
                    <li class="foo"> <%= image_tag "Human_Thumbnail.JPG", :size =>'128x128'  %> <br /> Human_Thumbnail.JPG</li>
                </ul>
              </content></column>
            </columns>
          </rows>
        </Ember.Widget.Grid>
        </content></item>
      </items>
  </Ember.Widget.Tabs>
</content></Ember.Widget.Page>
<% end  %>
