.ember-widget.ember-widget-grid {
  @include clearfix();
  margin-left: auto;
  margin-right: auto;
  & > .row {
    @include clearfix();
    width: 100%;
  }
  .ember-widget-gridColumn .ember-widget-grid > .row {
    margin-left: $fluidGridGutterWidth / -2;
    width: 100% + $fluidGridGutterWidth;
  }
  &.guided {
    & > .row {
      margin-bottom: 20px;
      margin-top: 10px;
      .ember-widget-gridColumn {
        background-color: $grayLighter;
        @include border-radius(3px);
        line-height: 30px;
        min-height: 30px;
        text-align: center;
      }
      .ember-widget-grid {
        margin-bottom: 0;
        margin-top: 0;
        .ember-widget-gridColumn {
          background-color: #ccc;
        }
      }
    }
    & > .row:hover > .ember-widget-gridColumn {
      background-color: #ddd;
    }
  }
}