.ember-widget.ember-widget-popover {
  position: relative;
  & > .popover {
    left: 0;
    @include opacity(0);
    padding: 5px;
    position: absolute;
    top: 0;
    $transition: opacity 0.15s linear, visibility 0.15s linear;
    @include transition($transition);
    visibility: hidden;
    z-index: $zindexPopover;
    & > .arrow {
      height: 0;
      position: absolute;
      width: 0;
    }
    & > .content {
      @include background-clip(padding-box);
      background-color: $white;
      border: 1px solid #999;
      border: 1px solid rgba(0,0,0,.3);
      *border: 1px solid #999;
      @include border-radius(6px);
      @include box-shadow(0 3px 7px rgba(0, 0, 0, 0.3));
      overflow: hidden;
      padding: 17px;
      p, ul, ol {
        margin-bottom: 0;
      }
    }
  }
  &.open > .popover {
    visibility: visible;
    @include opacity(100);
  }
  &.top > .popover {
    margin-top: -5px;
    & > .arrow {
      border-top: 5px solid $black;
      @include popoverArrow-top($color: rgba(0, 0, 0, 0.3));
    }
  }
  &.right > .popover {
    margin-left: 5px;
    & > .arrow {
      border-right: 5px solid $black;
      @include popoverArrow-right($color: rgba(0, 0, 0, 0.3));
    }
  }
  &.bottom > .popover {
    margin-top: 5px;
    & > .arrow {
      border-bottom: 5px solid $black;
      @include popoverArrow-bottom($color: rgba(0, 0, 0, 0.3));
    }
  }
  &.left > .popover {
    margin-left: -5px;
    & > .arrow {
      border-left: 5px solid $black;
      @include popoverArrow-left($color: rgba(0, 0, 0, 0.3));
    }
  }

  & > .content {
    display: inline-block;
    @include ie7-inline-block();
    & > div {
      display: inline-block;
      @include ie7-inline-block();
    }
  }
}
