.ember-widget.ember-widget-formElement {
  border: 1px solid $inputBorder;
  @include border-radius(3px);
  color: $gray;
  display: inline-block;
  @include font-shorthand();
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  height: $baseLineHeight;
  line-height: $baseLineHeight;
  margin-bottom: 9px;
  padding: 4px;
  width: 210px;
  &[disabled]
  &[readonly] {
    background-color: $inputDisabledBackground;
    border-color: #ddd;
    cursor: not-allowed;
  }
  &:focus:required:invalid {
    border-color: #ee5f5b;
    color: #b94a48;
    &:focus {
      border-color: darken(#ee5f5b, 10%);
      @include box-shadow(0 0 6px lighten(#ee5f5b, 20%));
    }
  }

  &.mini { width: 60px; }
  &.small { width: 90px; }
  &.medium { width: 150px; }
  &.large { width: 210px; }
  &.xlarge { width: 270px; }
  &.xxlarge { width: 530px; }
}

@include placeholder($grayLight);

label .ember-widget.ember-widget-formElement {
  display: block;
}

input[type="image"].ember-widget.ember-widget-formElement,
input[type="checkbox"].ember-widget.ember-widget-formElement,
input[type="radio"].ember-widget.ember-widget-formElement {
  border: 0 \9;
  @include border-radius(0);
  cursor: pointer;
  height: auto;
  line-height: normal;
  margin: 3px 0;
  *margin-top: 0;
  padding: 0;
  width: auto;
}
input[type="image"].ember-widget.ember-widget-formElement {
  border: 0;
}
input[type="file"].ember-widget.ember-widget-formElement {
  background-color: $inputBackground;
  background-color: initial;
  border: initial;
  @include box-shadow(none);
  line-height: initial;
  padding: initial;
  width: auto;
}
select.ember-widget.ember-widget-formElement,
input[type="file"].ember-widget.ember-widget-formElement {
  height: 28px;
  line-height: 28px;
  *margin-top: 4px;
}
input[type="file"].ember-widget.ember-widget-formElement {
  line-height: 18px \9;
}
select.ember-widget.ember-widget-formElement {
  background-color: $inputBackground;
  width: 220px;
}
select[multiple].ember-widget.ember-widget-formElement,
select[size].ember-widget.ember-widget-formElement {
  height: auto;
}
input[type="image"].ember-widget.ember-widget-formElement {
  @include box-shadow(none);
}
textarea.ember-widget.ember-widget-formElement {
  height: auto;
}
input[type="hidden"].ember-widget.ember-widget-formElement {
  display: none;
}

input.ember-widget.ember-widget-formElement,
textarea.ember-widget.ember-widget-formElement {
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  $transition: border linear .2s, box-shadow linear .2s;
  @include transition($transition);
}
input.ember-widget.ember-widget-formElement:focus,
textarea.ember-widget.ember-widget-formElement:focus {
  border-color: rgba(82,168,236,.8);
  $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  @include box-shadow($shadow);
  outline: 0;
  outline: thin dotted \9;
}
input[type="file"].ember-widget.embet-widget-formElement:focus,
input[type="radio"].ember-widget.embet-widget-formElement:focus,
input[type="checkbox"].ember-widget.embet-widget-formElement:focus,
select.ember-widget.embet-widget-formElement:focus {
  @include box-shadow(none);
  @include tab-focus();
}
