@-webkit-keyframes ember-widget-progressBar {
  from  { background-position: 0 0; }
  to    { background-position: 40px 0; }
}
@-moz-keyframes ember-widget-progressBar {
  from  { background-position: 0 0; }
  to    { background-position: 40px 0; }
}
@-ms-keyframes ember-widget-progressBar {
  from  { background-position: 0 0; }
  to    { background-position: 40px 0; }
}
@keyframes ember-widget-progressBar {
  from  { background-position: 0 0; }
  to    { background-position: 40px 0; }
}

.ember-widget.ember-widget-progressBar {
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
  @include gradient-vertical(#f5f5f5, #f9f9f9);
  height: 18px;
  margin-bottom: 18px;
  overflow: hidden;
  & > .progress {
    @include box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
    @include box-sizing(border-box);
    color: $white;
    font-size: 12px;
    @include gradient-vertical(#149bdf, #0480be);
    height: 18px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    @include transition(width .6s ease);
    width: 0%;
  }
  &.active > .progress {
    -webkit-animation: ember-widget-progressBar 2s linear infinite;
    -moz-animation: ember-widget-progressBar 2s linear infinite;
    animation: ember-widget-progressBar 2s linear infinite;
    @include background-size(40px 40px);
    @include gradient-striped(#149bdf);
  }

  &.danger {
    & > .progress { @include gradient-vertical(#ee5f5b, #c43c35); }
    &.active > .progress { @include gradient-striped(#ee5f5b); }
  }
  &.success {
    & > .progress { @include gradient-vertical(#62c462, #57a957); }
    &.active > .progress { @include gradient-striped(#62c462); }
  }
  &.info {
    & > .progress { @include gradient-vertical(#5bc0de, #339bb9); }
    &.active > .progress { @include gradient-striped(#5bc0de); }
  }
  &.warning {
    & > .progress { @include gradient-vertical(lighten($orange, 15%), $orange); }
    &.active > .progress  { @include gradient-striped(lighten($orange, 15%)); }
  }
}
