.ember-widget.ember-widget-popover.ember-widget-popover-menu {
  & > .content > div > .ember-widget-button:only-child {
    *margin-bottom: -3px;
    .caret {
      margin-top: 8px;
      margin-left: 2px;
    }
    &:hover .caret {
      @include opacity(100);
    }
  }
  &.open > .content > div > .ember-widget-button:only-child {
    background-color: darken($white, 10%);
    background-color: darken($white, 15%) \9;
    background-image: none;
    $shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    @include box-shadow($shadow);
    outline: 0;
    &.primary,
    &.warning,
    &.danger,
    &.success,
    &.info,
    &.inverse {
      color: rgba(255,255,255,.75);
    }
    &.primary {
      background-color: $btnPrimaryBackgroundHighlight;
      background-color: darken($btnPrimaryBackgroundHighlight, 10%) #{"\9"};
    }
    &.warning {
      background-color: $btnWarningBackgroundHighlight;
      background-color: darken($btnPrimaryBackgroundHighlight, 10%) #{"\9"};
    }
    &.danger {
      background-color: $btnDangerBackgroundHighlight;
      background-color: darken($btnPrimaryBackgroundHighlight, 10%) #{"\9"};
    }
    &.success {
      background-color: $btnSuccessBackgroundHighlight;
      background-color: darken($btnPrimaryBackgroundHighlight, 10%) #{"\9"};
    }
    &.info {
      background-color: $btnInfoBackgroundHighlight;
      background-color: darken($btnPrimaryBackgroundHighlight, 10%) #{"\9"};
    }
    &.inverse {
      background-color: $btnInverseBackgroundHighlight;
      background-color: darken($btnPrimaryBackgroundHighlight, 10%) #{"\9"};
    }

    .caret {
      @include opacity(100);
    }
  }

  & > .popover {
    z-index: $zindexDropdown;
    & > ul.menu { /* Figure out why .menu alone isn't sufficient to override padding */
      list-style: none;
      margin: 0;
      min-width: 160px;
      padding: 4px 0;
      & > .group {
        border-bottom: 1px solid #e5e5e5;
        padding: ($baseLineHeight / 2 - 1) 0;
        &:first-child,
        &:nth-of-type(1) {
          padding-top: 0;
        }
        &:last-child,
        &:nth-last-of-type(1) {
          border-bottom: none;
          padding-bottom: 0;
        }
        & > .items {
          list-style: none;
          margin: 0;
          & > .item {
            & > .ember-widget-button {
              clear: both;
              color: $dropdownLinkColor;
              display: block;
              font-weight: normal;
              line-height: $baseLineHeight;
              padding: 3px 15px;
              white-space: nowrap;
              &:hover {
                background-color: $dropdownLinkBackgroundHover;
                color: $dropdownLinkColorHover;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
