.ember-widget.ember-widget-carousel {
  line-height: 1;
  position: relative;
  margin-bottom: $baseLineHeight;
  & > ul {
    overflow: hidden;
    position: relative;
    & > li {
      display: none;
      position: relative;
      @include transition(left 0.45s ease-in-out);
      &.prev {
        display: block;
        left: -100%;
        position: absolute;
        top: 0;
        width: 100%;
      }
      &.open {
        display: block;
        left: 0;
      }
      &.next {
        display: block;
        left: 100%;
        position: absolute;
        top: 0;
        width: 100%;
      }
      &.closed {
        display: none !important;
      }
      & > img {
        display: block;
        line-height: 1;
      }
    }
  }
  & > .ember-widget-button {
    background: $grayDarker;
    border: 3px solid $white;
    @include border-radius(23px);
    color: $white;
    height: 40px;
    font-size: 60px;
    font-weight: 100;
    left: 15px;
    line-height: 30px;
    margin-top: -20px;
    @include opacity(50);
    position: absolute;
    text-align: center;
    top: 40%;
    width: 40px;
    &.next {
      left: auto;
      right: 15px;
    }
    &:hover {
      color: $white;
      @include opacity(90);
      text-decoration: none;
    }
  }
}
