.ember-widget.ember-widget-paginatedList {
  & > .items {
    list-style: none;
    margin: 0;
    & > li {
      display: none;
      &.open {
        display: block;
      }
    }
  }
  & > .pagination {
    height: $baseLineHeight * 2;
    margin: $baseLineHeight 0;

    display: inline-block;
    @include ie7-inline-block();
    margin-left: 0;
    margin-bottom: 0;
    @include border-radius(3px);
    @include box-shadow(0 1px 2px rgba(0,0,0,.05));
    & > li {
      display: inline;
      .ember-widget-button {
        float: left;
        padding: 0 14px;
        line-height: ($baseLineHeight * 2) - 2;
        text-decoration: none;
        border: 1px solid #ddd;
        border-left-width: 0;
        &:hover, &.open { background-color: #f5f5f5; }
        &.disabled, &.disabled:hover { background-color: transparent; }
      }
      &.open .ember-widget-button {
        color: $grayLight;
        cursor: default;
      }
      &:first-child, &:nth-of-type(1) {
        .ember-widget-button {
          border-left-width: 1px;
          @include border-radius(3px 0 0 3px);
        }
      }
      &:last-child, &:nth-last-of-type(1) {
        .ember-widget-button { @include border-radius(0 3px 3px 0); }
      }
    }
  }
}
