.ember-widget.ember-widget-tabs {
  @include clearfix();
  & > .tabs {
    border-bottom: 1px solid $tableBorder;
    @include clearfix();
    list-style: none;
    margin: {
      bottom: $baseLineHeight;
      left: 0;
    }
    & > .tab {
      float: left;
      margin-bottom: -1px;
      & > .ember-widget-button {
        border: 1px solid transparent;
        @include border-radius(4px 4px 0 0);
        display: block;
        line-height: $baseLineHeight;
        margin-right: 2px;
        padding: 8px 12px;
      }
      & > .ember-widget-button:hover {
        background-color: $grayLighter;
        text-decoration: none;
      }
      &.open > .ember-widget-button {
        &:hover {
          border-bottom-color: $tableBorder;
        }
        border: {
          top: 1px solid $tableBorder;
          right: 1px solid $tableBorder;
          bottom: 1px solid $white;
          left: 1px solid $tableBorder;
        };
      }
    }
  }
  .contents {
    border-bottom: 1px solid #ddd;
    display: table;
    padding-bottom: $baseLineHeight;
    width: 100%;
    & > .content {
      display: none;
      &.open {
        display: block;
      }
    }
  }

  &.bottom,
  &.right,
  &.left {
    & > .tabs { border-bottom: 0; }
    & > .contents { border-bottom: 0; }
  }
  &.left,
  &.right {
    & > .tabs > .tab {
      float: none;
      & > .ember-widget-button {
        margin-bottom: 3px;
        margin-right: 0;
        min-width: 74px;
      }
    }
    & > .contents {width: auto;}
  }
  &.left {
    & > .tabs {
      border-right: 1px solid $tableBorder;
      float: left;
      margin-right: 19px;
      & > .tab {
        & > .ember-widget-button {
          @include border-radius(4px 0 0 4px);
          margin-right: -1px;
          &:hover {
            border-color: $grayLighter $tableBorder $grayLighter $grayLighter;
          }
        }
        &.open {
          & > .ember-widget-button {
            border: {
              top: 1px solid $tableBorder;
              right: 1px solid $white;
              bottom: 1px solid $tableBorder;
              left: 1px solid $tableBorder;
            };
          }
        }
      }
    }
  }
  &.right {
    & > .tabs {
      border-left: 1px solid $tableBorder;
      float: right;
      margin-left: 19px;
      & > .tab {
        & > .ember-widget-button {
          @include border-radius(0 4px 4px 0);
          margin-left: -1px;
          &:hover {
            border-color: $grayLighter $grayLighter $grayLighter $tableBorder;
          }
        }
        &.open {
          & > .ember-widget-button {
            border: {
              top: 1px solid $tableBorder;
              right: 1px solid $tableBorder;
              bottom: 1px solid $tableBorder;
              left: 1px solid $white;
            };
          }
        }
      }
    }
  }
  &.bottom {
    & > .tabs {
      border-top: 1px solid $tableBorder;
      & > .tab {
        margin-top: -1px;
        margin-bottom: 0;
        & > .ember-widget-button {
          @include border-radius(0 0 4px 4px);
          &:hover {
            border-bottom-color: transparent;
            border-top-color: #ddd;
          }
        }
        &.open {
          & > .ember-widget-button {
            border: {
              top: 1px solid $white;
              right: 1px solid $tableBorder;
              bottom: 1px solid $tableBorder;
              left: 1px solid $tableBorder;
            };
          }
        }
      }
    }
    & > .contents {
      border-top: 1px solid $tableBorder;
      padding-top: $baseLineHeight;
      width: 100%;
    }
  }
}
