.ember-widget.ember-widget-toolbar {
  list-style: none;
  margin: {
    top: $baseLineHeight / 2;
    left: 0;
    bottom: $baseLineHeight / 2;
  };
  & > .group {
    @include clearfix();
    display: inline-block;
    @include ie7-inline-block();
    margin-left: 5px;
    position: relative;
    @include ie7-restore-left-whitespace();
    &:first-child { margin-left: 0; }

  }
}
