.ember-widget.app-widget-emailList {
  list-style: none;
  margin: 0;
  & > li {
    & > .star {
      background-image: url($iconSpritePath);
      background-position: -144px 0;
      background-repeat: no-repeat;
      float: left;
      height: 14px;
      line-height: 14px;
      margin: 10px 10px 0 15px;
      vertical-align: text-top;
      width: 14px;
      @include ie7-restore-right-whitespace();
    }
    &.starred > .star { background-position: -120px 0; }
    & > .title { font-weight: bold; }
    &.read > .title { font-weight: normal; }
    & > .close { margin: 8px 15px 0 0; }
    .ember-widget-button {
      color: $grayDark;
    }
    .ember-widget-button .sender {
      display: inline-block;
      margin-right: 10px;
      overflow: hidden;
      white-space: nowrap;
      width: 120px;
    }
    .ember-widget-button .subject {
      display: inline-block;
      margin-right: 10px;
      overflow: hidden;
      white-space: nowrap;
      width: 540px;
    }
    .ember-widget-button .date {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      width: 60px;
    }

    .replies {
      list-style: none;
      width: 80%;
      & > li {
        background-color: #f6f6f6;
        border: none;
        margin: 8px 0;
        padding: 8px;
        span { display: block; }
        .sender { font-weight: bold; }
      }
    }
    .reply {
      margin-left: 25px;
      .ember-widget-formElement-textArea {
        display: block;
        height: 80px;
        width: 617px;
      }
      .ember-widget-button {
        display: block;
        margin-left: 575px;
      }
    }
  }
}
