.ember-widget.app-widget-taskList {
  padding: 10px;
  h1 {
    margin: 20px 0;
  }
  .ember-widget-formElement-textField {
    width: 498px;
  }
  ul {
    .app-widget-task {
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
    }
    list-style: none;
    margin: 0 0 15px;
    padding-left: 0;
  }
  & > div {
    @include clearfix();
    span {
      line-height: 20px;
      em {
        font-style: normal;
        font-weight: bold;
      }
    }
    .ember-widget-button {
      float: right;
    }
  }
}
