.ember-widget.ember-widget-indicator {
  background-color: $grayLight;
  @include border-radius(9px);
  color: $white;
  font-size: $baseFontSize * .925;
  font-weight: bold;
  padding: 1px 9px 2px;
  white-space: nowrap;
  &:hover {
    color: $white;
    cursor: pointer;
    text-decoration: none;
  }

  &.important {
    background-color: $errorText;
    &:hover { background-color: darken($errorText, 10%); }
  }
  &.error {
    background-color: $errorText;
    &:hover { background-color: darken($errorText, 10%); }
  }
  &.warning {
    background-color: $orange;
    &:hover { background-color: darken($orange, 10%); }
  }
  &.success {
    background-color: $successText;
    &:hover { background-color: darken($successText, 10%); }
  }
  &.info {
    background-color: $infoText;
    &:hover { background-color: darken($infoText, 10%); }
  }
  &.inverse {
    background-color: $grayDark;
    &:hover { background-color: darken($grayDark, 10%); }
  }
}
