.ember-widget.ember-widget-breadcrumbs {
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 0 $white);
  @include gradient-vertical($white, #f5f5f5);
  list-style: none;
  margin: 0 0 $baseLineHeight;
  padding: 7px 14px;
  border: 1px solid #ddd;
  & > .item {
    display: inline-block;
    @include ie7-inline-block();
    text-shadow: 0 1px 0 $white;
    & > .divider {
      padding: 0 5px;
      color: $grayLight;
    }
  }
}
