input[type="button"].ember-widget.ember-widget-button,
input[type="reset"].ember-widget.ember-widget-button,
input[type="submit"].ember-widget.ember-widget-button {
  width: auto;
  height: auto;
}

input[type="submit"].ember-widget.ember-widget-button,
button.ember-widget.ember-widget-button,
a.button.ember-widget.ember-widget-button {
  border: 1px solid $btnBorder;
  border-bottom-color: darken($btnBorder, 10%);
  @include border-radius(4px);
  @include buttonBackground($btnBackground, $btnBackgroundHighlight);
  color: $grayDark;
  cursor: pointer;
  display: inline-block;
  @include ie7-inline-block();
  @include font-shorthand();
  font-family: $baseFontFamily;
  margin-bottom: 0;
  padding: 4px 10px 4px;
  $shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  @include box-shadow($shadow);
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  @include ie7-restore-left-whitespace();

  &.primary,
  &.primary:hover,
  &.warning,
  &.warning:hover,
  &.danger,
  &.danger:hover,
  &.success,
  &.success:hover,
  &.info,
  &.info:hover,
  &.inverse,
  &.inverse:hover {
    color: $white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  &.primary.active,
  &.warning.active,
  &.danger.active,
  &.success.active,
  &.info.active,
  &.inverse.active {
    color: rgba(255,255,255,.75);
  }
  &.primary { @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight); }
  &.warning { @include buttonBackground($btnWarningBackground, $btnWarningBackgroundHighlight); }
  &.danger { @include buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight); }
  &.success { @include buttonBackground($btnSuccessBackground, $btnSuccessBackgroundHighlight); }
  &.info { @include buttonBackground($btnInfoBackground, $btnInfoBackgroundHighlight); }
  &.inverse { @include buttonBackground($btnInverseBackground, $btnInverseBackgroundHighlight); }

  &:hover {
    background-color: darken($white, 10%);
    background-position: 0 -15px;
    color: $grayDark;
    text-decoration: none;
    @include transition(background-position .1s linear);
  }
  &:focus {
    @include tab-focus();
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  &.active,
  &:active {
    background-color: darken($white, 10%);
    background-color: darken($white, 15%) \9;
    background-image: none;
    $shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    @include box-shadow($shadow);
    outline: 0;
  }
  &.disabled,
  &[disabled] {
    background-image: none;
    background-color: darken($white, 10%);
    @include box-shadow(none);
    cursor: default;
    @include opacity(65);
  }

  &.mini {
    font-size: $baseFontSize - 2px;
    line-height: $baseLineHeight - 4px;
    padding: 2px 6px;
    *padding-top: 1px;
    *padding-bottom: 1px;
  }
  &.small {
    & [class^="icon-"] {
      margin-top: 1px;
    }
    font-size: $baseFontSize - 2px;
    line-height: $baseLineHeight - 2px;
    padding: 5px 9px;
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
  &.large {
    & [class^="icon-"] {
      margin-top: 1px;
    }
    @include border-radius(5px);
    font-size: $baseFontSize + 2px;
    line-height: normal;
    padding: 9px 14px;
    *padding-top: 7px;
    *padding-bottom: 7px;
  }

  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-left:  4px solid transparent;
    border-right: 4px solid transparent;
    border-top:   4px solid $black;
    @include opacity(30);
    content: "";
  }
  &.primary .caret,
  &.warning .caret,
  &.danger .caret,
  &.info .caret,
  &.success .caret,
  &.inverse .caret {
    border-bottom-color: $white;
    border-top-color: $white;
    @include opacity(75);
  }
}

a.ember-widget.ember-widget-button {
  &.disabled {
    color: $grayLight;
    cursor: default;
    text-decoration: none;
  }
  &.close {
    color: $black;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: $baseLineHeight;
    @include opacity(20);
    text-shadow: 0 1px 0 rgba(255,255,255,1);
    &:hover {
      color: $black;
      cursor: pointer;
      @include opacity(40);
      text-decoration: none;
    }
  }
}