.ember-widget.ember-widget-alert {
  visibility: hidden;
  height: 0;
  @include opacity(0);
  $transition: opacity 0.15s linear, height 0.35s ease;
  @include transition($transition);
  &.open {
    visibility: visible;
    height: auto;
    margin-bottom: $baseLineHeight;
    @include opacity(100);
  }
  & > .content {
    background-color: $warningBackground;
    border: 1px solid $warningBorder;
    @include border-radius(4px);
    color: $warningText;
    padding: 14px 35px 14px 14px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    & > .ember-widget-button {
      line-height: 18px;
      margin-top: -2px;
      margin-right: -21px;
    }
  }

  &.success > .content {
    background-color: $successBackground;
    border-color: $successBorder;
    color: $successText;
  }
  &.error > .content {
    background-color: $errorBackground;
    border-color: $errorBorder;
    color: $errorText;
  }
  &.info > .content {
    background-color: $infoBackground;
    border-color: $infoBorder;
    color: $infoText;
  }
}
