@mixin grid-span($columns, $fluidGridColumnWidth, $fluidGridGutterWidth) {
  width: ($fluidGridColumnWidth * $columns) + ($fluidGridGutterWidth * ($columns - 1));
}
@mixin grid-offset($columns, $fluidGridColumnWidth, $fluidGridGutterWidth) {
  margin-left: ($fluidGridColumnWidth * $columns) + ($fluidGridGutterWidth * ($columns - 1)) + $fluidGridGutterWidth;
}

.ember-widget.ember-widget-gridColumn {
  float: left;
  margin-left: $fluidGridGutterWidth / 2;
  margin-right: $fluidGridGutterWidth / 2;

  @for $i from 1 through $gridColumns {
    &.span#{$i} { width: ($fluidGridColumnWidth * $i) + ($fluidGridGutterWidth * ($i - 1)); }
  }
  @for $i from 1 through $gridColumns - 1 {
    &.offset#{$i} { margin-left: ($fluidGridColumnWidth * $i) + ($fluidGridGutterWidth * $i) + $fluidGridGutterWidth / 2; }
  }
}